
.header{
    justify-content: center;
    height: 15%;
    width: 100%;
    background-color: #ffffff;
}

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 1%;
}

.perez-logo {
    justify-content: center;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;

}

.perez-logo-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 1.15;
    letter-spacing: 0.55em;
    color: #4f4f50;
    -webkit-font-smoothing: antialiased;
  }


.buttons{
    text-align: justify;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-content: center;
    height: 14%;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 0.01%;
    position:relative;
}

.buttons:after{
    content:"";
    position: absolute;
    z-index:-1;
    top:80%;
    bottom:0;
    width:180%;
    height:25px;
    background:-webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.15), rgba(150, 150, 150, 0.0) 40%);
    background:radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.15), rgba(150, 150, 150, 0.0) 40%);
    margin-left: -39.3%;
    margin-top: 10px;
}


.navbar-button{
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #717273;
    -webkit-font-smoothing: antialiased;
    height: 200%;
    width: 100%;
}
