<div class="footer">
    <div class="footer-information">
        <div class="footer-information-title-and-text">
            <div class="footer-information-title">
                <h4 class="title-content text">CONTATO</h4>
            </div>
            <div class="footer-information-text">
                <p class="text-content text">Fale conosco pelo e-mail: perezprata925@gmail.com</p>
            </div>
        </div>
        <div class="footer-information-title-and-text">
            <div class="footer-information-title">
                <h4 class="title-content text">SUPORTE</h4>
            </div>
            <div class="footer-information-text">
                <p class="text-content text">Perguntas frequentes</p>
                <p class="text-content text">Troca e devolução</p>
                <p class="text-content text">Garantia</p>
            </div>
        </div>
        <div class="footer-information-title-and-text">
            <div class="footer-information-title">
                <h4 class="title-content text">SOBRE NÓS</h4>
            </div>
            <div class="footer-information-text">
                <p class="text-content text">BLA BLA BLA</p>
            </div>
        </div>
    </div>
    <div class="whatsapp-info">
        <div class="whatsapp-wrapper-icon">
            <mat-icon svgIcon="whatsapp" class="whatsapp-icon"></mat-icon>
        </div>
        <div class="whatsapp-wrapper-number">
            <p class="phone-number text">(31) 9887-8998</p>
        </div>
    </div>
</div>