<mat-toolbar class="header">
  <div class="navbar">
    <div class="perez-logo">
      <h1 class="perez-logo-text" routerLink="home">PEREZ</h1>
    </div>
    <div class="buttons">
      <button mat-button routerLink="aneis" class="navbar-button">Anéis</button>
      <button mat-button routerLink="brincos" class="navbar-button">Brincos</button>
      <button mat-button routerLink="colares" class="navbar-button">Colares</button>
      <button mat-button routerLink="pulseiras" class="navbar-button">Pulseiras</button>
      <button mat-button routerLink="pingentes" class="navbar-button">Pingentes</button>
      <button mat-button routerLink="tornozeleiras" class="navbar-button">Tornozeleiras</button>
      <button mat-button routerLink="manutencao" class="navbar-button">Manutenção</button>
      <button mat-button routerLink="informacoes" class="navbar-button">Informações</button>
    </div>
  </div>
</mat-toolbar>