@import url('../../../shared/fonts/halimun/stylesheet.css');


.home-image-body{
    display: flex;
    justify-content: center;
}

.home-image{
    max-width:90%;
    max-height:100%;
    opacity: 0.95;
}

.home-text-and-photos{
    display: flex;
    justify-content: center;
}

.home-subtitle{
    font-family: 'halimunregular';
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
}

.home-content{
    width: 100%;
    padding-top: 2%;
    display: block;
    text-align: center;
    text-align: -webkit-center;
    position: relative;
    z-index: 1;
}

.home-content-container{
    display: flex;
    justify-content: center;
    width: 85%;
    margin-bottom: 25px;
}

.container-img{
    max-width: 40%;
    display: flex;
    justify-content: center;
}

.img-content{
    max-width:85%;
    max-height:auto;
}

.text-content{
    max-width: 50%;
    display: grid;
    align-content: center;
    align-items: center;
}

.text-title{
   padding-bottom: 1%;
}

.text-title-content{
    font-weight: bold;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}

.text-paragraph{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.text-paragraph-content{
    text-align: center;
    max-width: 50%;
}

.text-button{
    display: flex;
    justify-content: center;
}

.text-button-content{
    background-color: #df9a7f;
}

#text-content-2{
    margin-left: -110px;
}

.home-footer{
    width: 100%;
    display: block;
    justify-content: center;
    justify-content: -webkit-center;
    text-align: -webkit-center;
    padding-top: 50px;
    min-height: 300px;
    z-index: 5;
    position: relative;
}

.footer-board{
    display: block;
    justify-content: center;
    justify-content: -webkit-center;
    width: 50%;
}

.footer-board:after{
    content:"";
    position: absolute;
    bottom:-25;
    z-index: 99;
    width:180%;
    height:25px;
    background:-webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.15), rgba(150, 150, 150, 0.0) 35%);
    background:radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.15), rgba(150, 150, 150, 0.0) 35%);
    margin-left: -88%;
    margin-top: 20px;
}

.footer-title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.footer-title-content{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 1.15;
    color: #4f4f50;
    -webkit-font-smoothing: antialiased;
}

.footer-icons{
    display: flex;
    justify-content: space-between;
}

.icon-and-text{
    display: block;
    justify-content: space-between;
    text-align: center;
    text-align: -webkit-center;
    position: relative;
    max-width: 150px;
}

.icon{
    font-size: 50px;
    color: #4f4f50;
    margin-bottom: 60px;
    margin-left: -20px;
}

#icon-2{
    width: 46px;
    height: 46px;
    margin-bottom: 36px;
    margin-right: -20px;
}

.icon-title{
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1.15;
    color: #4f4f50;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

.icon-text{
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.15;
    color: #4f4f50;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    margin-left: 2px;
}

.home-goodbye-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-goodbye{
    margin-top: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.instagram-link{
    text-decoration: none;
    color: #4f4f50;
}

.goodbye-text-content{
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 1.15;
    color: #4f4f50;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

.instagram-button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 31%;
    min-height: 90px;
}

.instagram-button-content{
    width: 100%;
    min-height: 60px;
    height: auto;
    background-color: #df9a7f;
    display: flex;
    justify-content: center;
}

.button-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-icon{
    width: 40px;
    height: 40px;
    color: #ffffff;
}

.instagram-icon-text{
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 1.15;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    margin-top: 6px;
}




