<div class=home-image-body>
    <img src='https://perez-prata-photos.s3-sa-east-1.amazonaws.com/home/img-home.jpg' class="home-image"
        alt="Perez Prata">
</div>
<div>
    <h2 class="home-subtitle">Só você gosta dessa fonte</h2>
</div>
<div class="home-content">
    <div class="home-content-container">
        <div class="container-img">
            <img src="https://perez-prata-photos.s3-sa-east-1.amazonaws.com/home/home-text-img-1.jpg"
                class="img-content" id="home-text-img-1">
        </div>
        <div class="text-content">
            <div class="text-title">
                <h4 class="text-title-content">COMO LIMPAR SUAS JÓIAS DE PRATA</h4>
            </div>
            <div class="text-paragraph">
                <p class="text-paragraph-content">
                    Umas paradas mucho locas estilo a menininha que fez maconha com sabão,
                    mas na verdade ela quis dizer massinha, porém o corretor trollou ela e aí ela virou um meme em
                    toda a
                    internet!
                </p>
            </div>
            <div class="text-button">
                <button mat-raised-button class="text-button-content" color="primary">Saiba mais!</button>
            </div>
        </div>
    </div>
    <div class="home-content-container">
        <div class="text-content" id="text-content-2">
            <div class="text-title">
                <h4 class="text-title-content">COMO LIMPAR SUAS JÓIAS DE PRATA</h4>
            </div>
            <div class="text-paragraph">
                <p class="text-paragraph-content">
                    Umas paradas mucho locas estilo a menininha que fez maconha com sabão,
                    mas na verdade ela quis dizer massinha, porém o corretor trollou ela e aí ela virou um meme em
                    toda a
                    internet!
                </p>
            </div>
            <div class="text-button">
                <button mat-raised-button class="text-button-content" color="primary">Saiba mais!</button>
            </div>
        </div>
        <div class="container-img">
            <img src="https://perez-prata-photos.s3-sa-east-1.amazonaws.com/home/home-text-img-1.jpg"
                class="img-content" id="home-text-img-2">
        </div>
    </div>
    <div class="home-content-container">
        <div class="container-img">
            <img src="https://perez-prata-photos.s3-sa-east-1.amazonaws.com/home/home-text-img-1.jpg"
                class="img-content" id="home-text-img-3">
        </div>
        <div class="text-content">
            <div class="text-title">
                <h4 class="text-title-content">COMO LIMPAR SUAS JÓIAS DE PRATA</h4>
            </div>
            <div class="text-paragraph">
                <p class="text-paragraph-content">
                    Umas paradas mucho locas estilo a menininha que fez maconha com sabão,
                    mas na verdade ela quis dizer massinha, porém o corretor trollou ela e aí ela virou um meme em
                    toda a
                    internet!
                </p>
            </div>
            <div class="text-button">
                <button mat-raised-button class="text-button-content" color="primary">Saiba mais!</button>
            </div>
        </div>
    </div>
</div>
<div class="home-footer">
    <div class="footer-board">
        <div class="footer-title">
            <h2 class="footer-title-content">AINDA MAIS VANTAGENS PARA VOCÊ!</h2>
        </div>
        
    </div>
</div>