
<mat-toolbar>
  <button routerLink="vitrine">Aneis</button>
  <button routerLink="vitrine">Brincos</button>
  <button routerLink="vitrine">Colares</button>
  <button routerLink="vitrine">Pulseiras</button>
  <button routerLink="vitrine">Pingentes</button>
  <button routerLink="vitrine">Tornozeleiras</button>
  <button routerLink="vitrine">Manutenção</button>
  <button routerLink="vitrine">Informações</button>
</mat-toolbar>
<div class="content" role="main">
  <h2>PEREZ</h2>
</div>



<router-outlet></router-outlet>