<mat-toolbar class="header">
  <div class="navbar">
    <div class="perez-logo">
      <h2>PEREZ</h2>
    </div>
    <div>
      <button routerLink="vitrine">Aneis</button>
      <button routerLink="vitrine">Brincos</button>
      <button routerLink="vitrine">Colares</button>
      <button routerLink="vitrine">Pulseiras</button>
      <button routerLink="vitrine">Pingentes</button>
      <button routerLink="vitrine">Tornozeleiras</button>
      <button routerLink="vitrine">Manutenção</button>
      <button routerLink="vitrine">Informações</button>
    </div>
  </div>
</mat-toolbar>



<router-outlet></router-outlet>