.vitrine-body{
    display: block;
    width: 100%;
    margin: auto;
    min-height: 800px;
}

.vitrine-navbar{
    height: 225px;
    background-color: #f8dfd7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.titulo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: initial;
}

.tipo-joia-titulo{
    font-family: 'Oswald';
    font-weight: 500;
    font-style: normal;
    font-size: 50px !important;
    line-height: 1.15;
    color: #4f4f50;
    -webkit-font-smoothing: antialiased;
    margin-top: auto;
    margin-bottom: auto;
}

.border-titulo{
    border-right: #4f4f50 solid 3px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

.caracteristicas-joias-wrapper{
    display: flex;
    justify-content: space-between;
    text-align: initial;
    align-items: baseline;
    padding-left: 30px;
}

.caracteristica-text-wrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.caracteristica-text{
    font-family: 'Alata';
    font-weight: 400;
    font-style: normal;
    font-size:16px !important;
    line-height: 1.15;
    color: #717273;
    -webkit-font-smoothing: antialiased;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    cursor: pointer;
}

.caracteristica-text-selected{
    font-family: 'Alata';
    font-weight: 500;
    font-style: normal;
    font-size:16px !important;
    line-height: 1.15;
    color: #717273;
    -webkit-font-smoothing: antialiased;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    cursor: pointer;
}

.close-icon{
    width: 12px;
    height: 12px;
    color: #717273;
    padding-left: 12px;
    cursor: pointer;
}

.border-text{
    border-right: #4f4f50 solid 1px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    width: 45px;
    margin-right: 45px;
}

.lista-joias{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.ngfor-wrapper{
    flex-grow: 1;
    flex-basis: 300px;
    margin: 10px;
    height: 380px !important;
    width: 380px !important;
    margin: auto;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 20px !important;
}

.joia-container{
  width: 100%;
  height: 100%;
  margin: 1px;
  text-align: center;
}

.imagem-joia{
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.imagem-joia-overlay {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: .5s ease;
}

.imagem-joia-overlay:hover {
    opacity: 0;
}

.name-joia{
    padding-top: 10px;
    font-family: 'Alice';
    font-weight: 400;
    font-style: normal;
    font-size: 20px !important;
    line-height: 1.15;
    color: #4f4f50;
    -webkit-font-smoothing: antialiased;
}

.price-joia{
    padding-top: 1px !important;
    font-family: 'Alice';
    font-weight: 200;
    font-style: normal;
    font-size: 16px !important;
    line-height: 1.15;
    color: #4f4f50;
    -webkit-font-smoothing: antialiased;
}
